<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>


<header id="header" class="header d-flex align-items-center sticky-top">
  <div
    class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
  >
    <a href="index.html" class="logo d-flex align-items-center">
      <h1 class="sitename">
        <i class="fa-solid fa-arrow-left" ></i>
      </h1>
    </a>
  </div>
</header>

<main class="main">
  <!-- About Section -->
  <section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>ISTICHARA<br /></h2>
      <p>
        Découvrez mes travaux, illustrant mes compétences en design,
        développement et gestion de projets.
      </p>
    </div>
    <!-- End Section Title -->
    <hr
      style="
        border: 3px solid rgba(0, 98, 255, 0.884);
        border-radius: 50px;
        width: 40%;
        margin: 0 auto;
      "
    />
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <img
            src="../../assets/images/aproposhome.jpg"
            class="img-fluid rounded-4 mb-4"
            alt=""
          />
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                <span
                  >Ullamco laboris nisi ut aliquip ex ea commodo
                  consequat.</span
                >
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                <span
                  >Duis aute irure dolor in reprehenderit in voluptate
                  velit.</span
                >
              </li>
              <li>
                <i class="bi bi-check-circle-fill"></i>
                <span
                  >Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate trideta
                  storacalaperda mastiro dolore eu fugiat nulla pariatur.</span
                >
              </li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident
            </p>
            <p>
              Temporibus nihil enim deserunt sed ea. Provident sit expedita aut
              cupiditate nihil vitae quo officia vel. Blanditiis eligendi
              possimus et in cum. Quidem eos ut sint rem veniam qui. Ut ut
              repellendus nobis tempore doloribus debitis explicabo similique
              sit. Accusantium sed ut omnis beatae neque deleniti repellendus.
            </p>
            <p>
              Temporibus nihil enim deserunt sed ea. Provident sit expedita aut
              cupiditate nihil vitae quo officia vel.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <hr
    style="
      border: 3px solid rgba(0, 98, 255, 0.884);
      border-radius: 50px;
      width: 40%;
      margin: 0 auto;
    "
  />

  <!-- Gallery Section -->
  <section id="gallery" class="gallery section">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
              src="../../assets/images/aproposhome.jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="../../assets/images/yassine.jpeg"
                title="Gallery 2"
                class="glightbox preview-link"
              >
                <i class="fas fa-expand-arrows-alt"></i>
                <!-- Font Awesome icon for expand arrows -->
              </a>
            </div>
          </div>
        </div>

        <!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
              src="../../assets/images/yassine.jpeg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="../../assets/images/yassine.jpeg"
                title="Gallery 2"
                class="glightbox preview-link"
              >
                <i class="fas fa-expand-arrows-alt"></i>
                <!-- Font Awesome icon for expand arrows -->
              </a>
            </div>
          </div>
        </div>

        <!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
              src="../../assets/images/aproposhome.jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="../../assets/images/yassine.jpeg"
                title="Gallery 2"
                class="glightbox preview-link"
              >
                <i class="fas fa-expand-arrows-alt"></i>
                <!-- Font Awesome icon for expand arrows -->
              </a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
              src="../../assets/images/yassine.jpeg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="../../assets/images/yassine.jpeg"
                title="Gallery 2"
                class="glightbox preview-link"
              >
                <i class="fas fa-expand-arrows-alt"></i>
                <!-- Font Awesome icon for expand arrows -->
              </a>
            </div>
          </div>
        </div>

        <!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
              src="../../assets/images/aproposhome.jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="../../assets/images/yassine.jpeg"
                title="Gallery 2"
                class="glightbox preview-link"
              >
                <i class="fas fa-expand-arrows-alt"></i>
                <!-- Font Awesome icon for expand arrows -->
              </a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
              src="../../assets/images/aproposhome.jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="../../assets/images/yassine.jpeg"
                title="Gallery 2"
                class="glightbox preview-link"
              >
                <i class="fas fa-expand-arrows-alt"></i>
                <!-- Font Awesome icon for expand arrows -->
              </a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
              src="../../assets/images/aproposhome.jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="../../assets/images/yassine.jpeg"
                title="Gallery 2"
                class="glightbox preview-link"
              >
                <i class="fas fa-expand-arrows-alt"></i>
                <!-- Font Awesome icon for expand arrows -->
              </a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img
              src="../../assets/images/aproposhome.jpg"
              class="img-fluid"
              alt=""
            />
            <div
              class="gallery-links d-flex align-items-center justify-content-center"
            >
              <a
                href="../../assets/images/yassine.jpeg"
                title="Gallery 2"
                class="glightbox preview-link"
              >
                <i class="fas fa-expand-arrows-alt"></i>
                <!-- Font Awesome icon for expand arrows -->
              </a>
            </div>
          </div>
        </div>
        <!-- End Gallery Item -->
      </div>
    </div>
  </section>
</main>

<footer id="footer" class="footer accent-background">
  <div class="container">
    <div class="copyright text-center">
      <p>
        © <span>Copyright</span>
        <strong class="px-1 sitename"
          >PROTFOLIO <span class="highlighted-text">YM</span></strong
        >
      </p>
    </div>
    <div class="social-links d-flex justify-content-center">
      <a href="https://github.com/votre-compte-github"
        ><i class="fab fa-github"></i
      ></a>
      <a href="https://linkedin.com/in/votre-profil-linkedin"
        ><i class="fab fa-linkedin"></i
      ></a>
    </div>
  </div>

</footer>
